.tab {
  height: 100%;
  border: none;
  outline: none;
  flex: 1;
  cursor: pointer;
  font-size: 26px;
  transition: all 0.4s ease-in-out;
  color: #6e6f88;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.tab:hover {
  font-size: 36px;
}

@media screen and (max-width: 700px) {
  .tab {
    font-size: 20px;
  }
  .tab:hover {
    font-size: 22px;
  }
}
